img {
  display: initial !important;
}

article pre code .line.highlighted::before {
  background-color: rgb(107 114 128 / 0.3);
}

:root {
  --nextra-primary-hue: 16deg;
}

.dark {
  --nextra-primary-hue: 16deg;
}

/* HACK Hide the title of footnotes section. Since Nextra cannot handle footnotes style correctly */
/* For details: https://github.com/shuding/nextra/pull/2104 */
section.footnotes > h2 {
  display: none;
}