@keyframes colorRotate {
  to {
    --angle: -360deg
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.MagicalGradButton {
  --mask-size: 300px;
  --radius: 36px;
  --bg-opacity: 0;
  --border-opacity-scale: 1;
  display: inline-flex;
  position: relative;
  padding: 16px 28px 16px 45px;
  border-radius: var(--radius);
  background-image: linear-gradient(85deg,rgba(254, 115, 1, 0.03) 2.96%,hsla(0,0%,85%,.03) 96.14%);
  box-shadow: 0 16px 64px 0 rgba(255, 115, 1, 0.12);
  cursor: pointer;
  overflow: hidden;

  &.LightBorder {
    --border-opacity-scale: 2;
  }

  &.NoIcon {
    padding-right: 55px;
  }

  &:before {
    content: "";
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 3;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: radial-gradient(circle at var(--x) var(--y),var(--theme) 0,hsla(0,0%,100%,.5) 23%,rgba(255,255,255,calc(.1 * var(--border-opacity-scale))) 75%,rgba(255,255,255,calc(.1 * var(--border-opacity-scale))) 95%,hsla(0,0%,100%,.1) 100%);
    -webkit-mask: linear-gradient(#000,#000) content-box content-box,linear-gradient(#000,#000);
    -webkit-mask-composite: xor;
    transition: padding 318ms
  }

  &:hover {
    --bg-opacity: 0.6;

    &:before {
      padding: 1.5px
    }
  }

  .button-content {
    position: relative;
    z-index: 2;
    font-size: fv(20, 32);
    font-weight: 500;
    line-height: 115.99%;
    letter-spacing: -.72px;
    text-transform: capitalize
  }

  .button-icon {
    font-size: 1.6em;
  }

  .button-background {
    position: absolute;
    z-index: 1;
    inset: 0;

    > * {
      position: absolute;
      border-radius: var(--radius)
    }

    .background-blur {
      inset: 0;
      z-index: 2;
      background: hsla(0,0%,100%,.01);
      -webkit-backdrop-filter: blur(34.5px);
      backdrop-filter: blur(34.5px);
    }

    .background-angular {
      width: 120%;
      margin-top: -50%;
      margin-left: -10%;
      aspect-ratio: 1/1;
      background: conic-gradient(from var(--angle),#6804fd,#08f969,#100bf7,#f70ed2,#0ba2f7);
      filter: hue-rotate(82deg);
      transform-origin: 50% 50%;
      opacity: var(--bg-opacity);
      transition: opacity 318ms;
      -webkit-mask-image: radial-gradient(100px,#fff,hsla(0,0%,100%,.1));
      -webkit-mask-position: var(--bound-x) var(--bound-y);
      animation: colorRotate 20s linear infinite
    }
  }
}
