@import './sponsors.css';
@import './support-matrix.css';
@import './ecosystem.css';
@import './effects.css';
@import './ui/MagicalGradButton.css';

.page-landing {
  padding: fv(40, 80) 0;
}

.page-home {
  padding: fv(20, 40) 0;
  overflow-x: hidden;
}

.section {
  & + & {
    margin-top: fv(80, 160);
  }
}

.section-title {
  position: relative;
  font-size: fv(24, 36);
  font-weight: 600;
  line-height: 111.111%;
  margin-top: fv(12, 20);
  margin-bottom: fv(40, 64);

  & + .section-desc{
    margin-top: -2em;
  }

  &.blur-effect {
    margin: 0;
    filter: blur(16px);
    opacity: 0.6;
    position: absolute;
    top: -2px;
  }
}

.gradient-title {
  background: var(--gradient-loud-100, linear-gradient(0deg, #fbf9f3 0, #efb598 100%));
  background-clip: text;
  text-shadow: 0 2px 16px rgba(242, 220, 174, 0.24);
  -webkit-background-clip: text;
  color: transparent;
}

.section-desc {
  margin-top: fv(16, 24);
  margin-bottom: fv(40, 64);
  color: #969696;
  font-size: fv(16, 20);
  letter-spacing: -0.2%;
  max-width: 500px;
}

.section-sponsors {
  position: relative;
  margin-top: 120px;
  @media (min-width: 768px) {
    margin-top: 180px;
  }
}

.section-support-matrix {

  .dot-pattern {
    background-image: radial-gradient(#ffffff53 3%, transparent 0);
    background-size: 20px 20px;
    position: absolute;
    inset: 0;
    mask-image: radial-gradient(circle at 50%, #fff, #0000);
  }

  .limit-container {
    --width: 1180px;
    position: relative;

    &:after {
      --gradient-spread: 20%;
      background: linear-gradient(to bottom, transparent 0, rgba(247, 225, 186, 0.12) var(--gradient-spread), rgba(247, 232, 186, 0.12) calc(100% - var(--gradient-spread)), transparent), linear-gradient(to bottom, transparent 0, rgba(186, 215, 247, .12) var(--gradient-spread), rgba(186, 215, 247, .12) calc(100% - var(--gradient-spread)), transparent);
      background-size: 1px 100%, 1px 100%;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      z-index: -1;
      content: "";
      position: absolute;
      inset: -12vh var(--padding);
      pointer-events: none;
    }
  }

  .support-matrix {
    padding: 20px;
    margin-top: 20px;
  }
}

.outline-box {
  --height: 200px;
  padding: 6px;
  display: grid;
  align-items: center;
  justify-self: stretch;
  align-self: stretch;
  position: relative;
  height: var(--height);

  &::before {
    --dot-color: #fae5d1;
    --dot-size: 4px;
    content: "";
    position: absolute;
    inset: calc(var(--dot-size) * -.5);
    pointer-events: none;
    filter: drop-shadow(0 0 8px c);
    background-image: radial-gradient(var(--dot-color) 50%, transparent 50%), radial-gradient(var(--dot-color) 50%, transparent 50%), radial-gradient(var(--dot-color) 50%, transparent 50%), radial-gradient(var(--dot-color) 50%, transparent 50%);
    background-size: var(--dot-size) var(--dot-size), var(--dot-size) var(--dot-size), var(--dot-size) var(--dot-size), var(--dot-size) var(--dot-size);
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
    background-repeat: no-repeat;
  }

  &::after {
    --gradient-spread: 300px;
    content: "";
    position: absolute;
    inset: 0;
    left: calc(var(--gradient-spread)*-.5);
    right: calc(var(--gradient-spread)*-.5);
    pointer-events: none;
    background: linear-gradient(to left,transparent 0,rgba(247, 209, 186, 0.12) var(--gradient-spread),rgba(247, 224, 186, 0.12) calc(100% - var(--gradient-spread)),transparent),linear-gradient(to left,transparent 0,rgba(186,215,247,.12) var(--gradient-spread),rgba(186,215,247,.12) calc(100% - var(--gradient-spread)),transparent);
    background-size: 100% 1px,100% 1px;
    background-position: 0 0,0 100%;
    background-repeat: no-repeat
  }

}

footer {
  position: relative;
  z-index: 2;
  background-color: transparent !important;
}

.ScrollSmoother-wrapper {
  pointer-events: none;
}

.dark {
  footer {
    > *:last-child {
      padding-top: fv(40, 80);
      padding-bottom: fv(40, 80);
      background-image: radial-gradient(50.75% 50.75% at 50% 0, rgb(255 169 121 / 15%) 0, rgb(255 190 121 / 0%) 100%);
      background-size: 70% 180%;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
}
