.feature-card#powerful-ci {
  .feature__meta {
    max-width: calc(100%);
  }

  /* Extend height on smaller devices, to make room for text */
  @media (max-width: 380px) {
    height: 400px;
  }

  .feature__visualization {

    .glow-bg {
      content: '';
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
      height: 200px;
      filter: blur(50px);
      background: radial-gradient(circle, #13b351, transparent 60%);
      transition: all 3s ease;
      transform: translate3d(0, 0, 0) scaleY(0);
      opacity: 0;
      will-change: transform, opacity;
    }

    svg {
      width: calc(100% - 15px);
      margin: 0 auto;
      position: relative;
      left: 10px;
      top: 30px;
      overflow: visible;
    }

    .rect {
      stroke: transparent;
      transition: 0.3s;
      border-radius: 3px;
    }

    .drawLine {
      transition: 0.6s, opacity 0.05s;
      stroke-dasharray: 1.01;
      stroke-dashoffset: 1;
      opacity: 0;
      stroke: #13b351;
    }

    .circle, .check {
      transition: 0.3s;
    }

    .circle-2, .rect-2 {
      transition-delay: 0.2s;
    }

    .circle-3, .rect-3 {
      transition-delay: 0.3s;
    }

    .circle-4, .rect-4 ,.drawLine-2 {
      transition-delay: 0.4s;
    }

    .circle-5, .rect-5, .drawLine-3 {
      transition-delay: 0.6s;
    }

    &.active {
      .glow-bg {
        transition-delay: 0.2s;
        transition-duration: .5s;
        transform: translateZ(0) scaleY(1);
        opacity: 0.5;
      }
      .circle {
        fill: #13b351;
      }
      .check {
        fill: #ddd;
      }
      .rect {
        stroke: #13b351;
        stroke-width: 1.5px;
        /* filter: drop-shadow(0 0 2px #e4cd02) */
      }
      .drawLine {
        stroke-dashoffset: 0;
        opacity: 1;
      }
    }
  }
}
